# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Commonly used libraries by Data Scientist
- Examples of evaluating arithmetic expressions

__Objectives:__
- List popular languages for Data Science
- Commonly used libraries by Data Scientist
- Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tidyverse
2. ggplot2
3. pandas

Some of the commonly used libraries used by Data Scientists include:
1. Tidyverse
2. ggplot2
3. pandas

 | Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
|Github |

 | Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
|Github |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Christy S

## Author:
Christy S